
<%= form_for @property do |form| %>

  <div class="property_name">
    <%= form.label :name, "物件名" %><br>
    <%= form.text_field :name %>
  </div>

  <div class="property_rent">
    <%= form.label :rent, "賃料" %><br>
    <%= form.text_field :rent %>円
  </div>

  <div class="property_address">
    <%= form.label :address, "住所" %><br>
    <%= form.text_field :address %>
  </div>

  <div class="property_age">
    <%= form.label :age, "築年数" %><br>
    <%= form.text_field :age %>年
  </div>

  <div class="property_notes">
    <%= form.label :notes, "備考" %><br>
    <%= form.text_area :notes %>
  </div>

  <hr width="100%" size="1" align="center" noshade="">

  <%= form.fields_for @station do |s| %>

      <p class="station_title">最寄り駅1</p>
      <div class="station_route">
        <%= s.label :route, "路線名" %><br>
        <%= s.text_field :route %>
      </div>

      <div class="station_stationname">
        <%= s.label :station_name, "駅名" %><br>
        <%= s.text_field :station_name %>
      </div>

      <div class="station_distance">
        <%= s.label :distance, "徒歩分数" %><br>
        <%= s.text_field :distance %>分
      </div>

      <p class="station_title">最寄り駅2</p>
      <div class="station_route">
        <%= s.label :route, "路線名" %><br>
        <%= s.text_field :route %>
      </div>

      <div class="station_stationname">
        <%= s.label :station_name, "駅名" %><br>
        <%= s.text_field :station_name %>
      </div>

      <div class="station_distance">
        <%= s.label :distance, "徒歩分数" %><br>
        <%= s.text_field :distance %>分
      </div>

  <% end %>

<% end %>
