
<%= form_for @property do |f| %>

  <div class="property_name">
    <%= f.label :name, "物件名" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="property_rent">
    <%= f.label :rent, "賃料" %><br>
    <%= f.text_field :rent %>円
  </div>

  <div class="property_address">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address %>
  </div>

  <div class="property_age">
    <%= f.label :age, "築年数" %><br>
    <%= f.text_field :age %>年
  </div>

  <div class="property_notes">
    <%= f.label :notes, "備考" %><br>
    <%= f.text_area :notes %>
  </div>

  <hr width="100%" size="1" align="center" noshade="">

  <%= f.fields_for @station do |s| %>

      <p class="station_title">最寄り駅1</p>
      <div class="station_route">
        <%= s.label :route, "路線名" %><br>
        <%= s.text_field :route %>
      </div>

      <div class="station_stationname">
        <%= s.label :station_name, "駅名" %><br>
        <%= s.text_field :station_name %>
      </div>

      <div class="station_distance">
        <%= s.label :distance, "徒歩分数" %><br>
        <%= s.text_field :distance %>分
      </div>

      <p class="station_title">最寄り駅2</p>
      <div class="station_route">
        <%= s.label :route, "路線名" %><br>
        <%= s.text_field :route %>
      </div>

      <div class="station_stationname">
        <%= s.label :station_name, "駅名" %><br>
        <%= s.text_field :station_name %>
      </div>

      <div class="station_distance">
        <%= s.label :distance, "徒歩分数" %><br>
        <%= s.text_field :distance %>分
      </div>

  <% end %>

    <div class="button">
      <% if action_name == 'new' %>
        <%= f.submit '登録する' %>
      <% else %>
        <%= f.submit '更新する' %>
      <% end %>
    </div>
    
<% end %>
